.gridItem{
  width:100%;
  grid-column: span 2;
  list-style: none;
  height: 65rem;
  box-shadow: 0 0.1rem 0.1rem rgba(0,0,0,0.19), 0 0.6rem 0.6rem rgba(0,0,0,0.23);
  transition: 0.2s all;
  animation-name: popup;
  animation-duration: 2s;
}

.gridItem:hover{
  cursor:pointer;
  transform: scale(1.02);
}
.gridItem figure{
  width:100%;
  height: 100%;
}

.gridItem figure img{
  height:100%;
  width:100%;
  object-fit: cover;
}

@media (max-width: 56.25rem) /* bij 900px */{
  .gridItem{
    grid-column: span 3;
    height: 20rem;
  }

  .gridItem figure img{
    object-fit: contain;
  }
}

@media (max-width: 37.6rem){
  .gridItem{
    grid-column: span 6;
    height:20rem;
  }
}

@keyframes popup{
  from{
    opacity:0;
    transform: translateY(-5rem);
  }

  to{
    opacity:1;
    transform: translateY(0);
  }
}
