.gridList{
  width: 70%;
  margin: 0 auto;
  grid-template-columns: repeat(6,minmax(0,1fr));
  display:grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

@media (max-width: 56.25rem) /* bij 900px */{
  .gridList{
    width: 100%;
  }
}
