.searchBar{
  width: 70%;
  margin: 0 auto;
  padding: 4rem;
}

.searchBar form input{
  width:100%;
  box-sizing: border-box;
  padding: 2rem 4rem;
  font-size: 2.4rem;
  border:none;
}

@media (max-width: 56.25rem) /* 900 px */{
  .searchBar{
    width: 100%;
    padding: 4rem 0;
  }

  .searchBar form input{
    width:100%;
    font-size: 1.4rem;
    border:none;
    padding: 2rem 2rem;
  }
}
